<h2>Template: <small>Dinámicos</small></h2>
<hr>
<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
 <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control"
            type="text"
            placeholder="Nombre de la persona"
            name="nombre"
            [ngModel]="persona.nombre"
            required
            >
            <span class="form-text text-danger" *ngIf="miFormulario.controls['nombre']?.errors">
              Este campo es obligatorio
            </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control"
            type="text"
            placeholder="Agregar juego favorito"
            [(ngModel)]="nuevoJuego"
            name="nuevoJuego"
            (keyup.enter)="agregarJuego()"
            >
        <button class="btn btn-outline-primary" type="button" (click)="agregarJuego()">Agregar</button>
      </div>

    </div>
  </div>


   <!-- Lista de juegos favoritos -->
   <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div class="input-group  mb-1" *ngFor="let item of persona.favoritos; let i = index">
        <input class="form-control"  [(ngModel)]="item.nombre" name="favorito_{{ i }}">
        <button class="btn btn-outline-danger" type="button" (click)="eliminar( i )">-</button>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-end"
              type="button"
              (click)="guardar()"
              [disabled]="miFormulario.invalid">
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Persona Data</span>
<pre>{{ persona | json }}</pre>
